<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="container-fluid">
        <div class="row justify-content-center w-100 align-items-center">
          <div class="col-lg-6 col-md-6 " data-aos="fade-right" data-aos-delay="100">
            <div class="image-box">
              <img src="../assets/images/backgrounds/hero-img.svg" alt="">
            </div>
          </div>
          <div class="col-md-4 col-lg-4 offset-lg-1 offset-md-1">
            <div class="card mb-0">
              <div class="card-body">
                <!-- <a routerLink="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">login</p> -->
                <div class="section-header">
                  <span>Login</span>
                  <h2 class="text-center">Login</h2>
                </div>
                <form [formGroup]="userLoginForm" (ngSubmit)="onLogin(userLoginForm.value)">
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <!-- <label for="exampleInputtext" class="form-label">Email</label> -->
                      <input type="email" class="form-control" id="exampleInputtext1" autocomplete="off" required
                        aria-describedby="textHelp" formControlName="email" placeholder="Email"
                        [ngClass]="{ 'is-invalid': getControl('email')?.invalid && getControl(' email')?.touched }">
                      <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                        <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']"> Email is
                          required</small>
                        <small class="text-danger" *ngIf="getControl('email')?.errors?.['pattern']">Please Enter Valid
                          Email.</small>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">

                      <!-- <label for="exampleInputPassword1" class="form-label"></label> -->
                      <input type="password" class="form-control" id="exampleInputPassword1 " autocomplete="off"
                        required="off" formControlName="Password" placeholder="Password"
                        [ngClass]="{'is-invalid': getControl('Password')?.invalid && getControl('Password')?.touched }">
                      <div *ngIf="getControl('Password')?.errors && getControl('Password')?.touched">
                        <small class="text-danger" *ngIf="getControl('Password')?.errors?.['pattern']"> Please Enter
                          Valid
                          Password</small>
                        <small class="text-danger" *ngIf="getControl('Password')?.errors?.['required']"> Password is
                          required</small>
                        <small class="text-danger"
                          *ngIf="getControl('Password')?.errors?.['minlength'] || getControl('Password')?.errors?.['maxlength']">Password
                          should be minimum 6 and maximum 10 </small>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="form-check">
                          <input class="form-check-input primary" autocomplete="off" type="checkbox" value=""
                            id="flexCheckChecked">
                          <label class="form-check-label text-dark" for="flexCheckChecked">
                            Remeber this Device
                          </label>
                        </div>
                        <a class="text-primary fw-bold" routerLink="/auth/forgot-password">Forgot Password ?</a>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary py-8 fs-4 mb-4 rounded-2">Sign In</button>
                      </div>
                      <div class="d-flex align-items-center justify-content-center">
                        <p class="fs-4 mb-0 fw-bold">Don't have an account</p>
                        <a class="text-primary fw-bold ms-2" routerLink="/auth/register">Sign Up?</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>