<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yinka Enoch Adedokun" />
    <title>Forget Password
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
          <img src="#" alt="" />
          <h2><span class="fa fa-envelope"></span></h2>
          <h4 class="company_title"></h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form p-3">
          <div class="container-fluid">
            <div class="row">
              <h2>Reset Password</h2>
            </div>
            <div class="row">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmitClicked()" class="form-group" action="login" method="post">
                <div class="row">
                  <input
                    type="email"
                    name="username"
                    id="username"
                    formControlName="email"
                    class="form__input"
                    placeholder="Enter your Email"
                    autocomplete="off"
                  />
                  <div *ngIf="showConfirmationMessage">
                    Password reset email sent! Please check your email inbox.
                  </div>
                  <!-- <div class="error text-center alert alert-danger" *ngIf="formUtilisateur.get('email').hasError('incorrectEmailFormat') && formUtilisateur.get('email').touched">
                    Format Email incorrect.
                  </div> -->
                </div>
              
                <div class="row ">
                  <p>
                    Remember Password ?
                    <a routerLink="/auth/login" class="link">Login </a>
                  </p>
                </div>
                <div class="row">
                  <input type="submit" value="Continue" class="btn" />
                </div>
             </form> 
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>
  