
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a routerLink="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
            <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">Your Social Campaigns</p>
                <form [formGroup]="register" >
                  <div class="mb-3">
                    <label for="exampleInputtext1"autocomplete="off" required class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputtext1" autocomplete="off" required aria-describedby="textHelp" formControlName="name" [ngClass]="{ 'is-invalid': getControl('name')?.invalid && getControl('name')?.touched }" >
                    <div *ngIf="getControl('name')?.errors && getControl('name')?.touched">
                    <small class="text-danger" *ngIf="getControl('name')?.errors?.['required']"> Name  is  required</small>
                    <small class="text-danger" *ngIf="getControl('name')?.errors?.['pattern']">Please Enter Valid Name.</small>
                  
                  </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1"autocomplete="off" required aria-describedby="emailHelp" formControlName="Email" [ngClass]="{'is-invalid': getControl('Email')?.invalid && getControl('Email')?.touched }">
                    <div *ngIf="getControl('Email')?.errors && getControl('Email')?.touched">
                   <small class="text-danger" *ngIf="getControl('Email')?.errors?.['required']">
                    Email  is    required </small>
                  <small class="text-danger" *ngIf="getControl('Email')?.errors?.['pattern']">
                    Please Enter Valid Email
                  </small>
                  
                 
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputphone" class="form-label">Phone</label>
                    <input type="text"autocomplete="off" required class="form-control" id="exampleInputEmailphone" aria-describedby="emailHelp" formControlName="Phone"  [ngClass]="{'is-invalid': getControl('Phone')?.invalid && getControl('Phone')?.touched }">
                    <div *ngIf="getControl('Phone')?.errors && getControl('Phone')?.touched">
           <small class="text-danger" *ngIf="getControl('Phone')?.errors?.['required']">
            Phone No is required
           </small>
           <small class="text-danger" *ngIf="getControl('Phone')?.errors?.['pattern']">
            Please  Enter Valid Phone No
           </small>
                    </div>
                </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input [type]="changetype? 'password':'text'" class="form-control"  id="exampleInputPassword1 " autocomplete="off" required="off" formControlName="Password" [ngClass]="{'is-invalid': getControl('Password')?.invalid && getControl('Password')?.touched }">
                <!-- <i [ngClass]= "visible?'fa-solid fa-eye':'fa fa-eye-slash'"(click)="viewpass()" class="eye-icon"></i> -->
                    <div *ngIf="getControl('Password')?.errors && getControl('Password')?.touched">
                 <small class="text-danger" *ngIf="getControl('Password')?.errors?.['required']"> Password  is  required</small>
                 <small class="text-danger" *ngIf="getControl('Password')?.errors?.['minlength'] || getControl('Password')?.errors?.['maxlength']">Password should be minimum 6 and maximum 10 </small>
               <div *ngIf="getControl('Password')?.errors?.['passwordsNotMatch']">
                  <small class="text-danger">Passwords do not match</small>
                </div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" autocomplete="off"  formControlName="ConfrimPassword" [ngClass]="{'is-invalid': getControl('ConfrimPassword')?.invalid && getControl('ConfrimPassword')?.touched }">
                    <div *ngIf="getControl('ConfrimPassword')?.errors && getControl('ConfrimPassword')?.touched">
                      <small class="text-danger" *ngIf="getControl('ConfrimPassword')?.errors?.['required']">Confirm Password is required</small>
                      <div  *ngIf="register.get('ConfrimPassword')?.hasError('passwordMismatch')" class="error-message text-danger">
                        Passwords do not match.
                      </div>
                    </div>
                  </div>
                  
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" (click)="onSubmitClicked()">Register</button>

                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2"  routerLink="/auth/login">Log In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 


  