<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a routerLink="index.html" class="logo d-flex align-items-center">
      <h1>CITY-BARBER</h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/home/home">Home</a></li>
        <li><a routerLink="/about" class="active">About</a></li>
        <li><a routerLink="/servics">Services</a></li>
        <li><a routerLink="contact.html">Contact</a></li>
        <li><a routerLink="/auth/register">Register</a></li>
        <li><a routerLink="/auth/login">Login</a></li>
      </ul>
    </nav>
  </div>
  <script src="assets/js/main.js"></script>
</header>

